In [2]:
print("""She said "you're a liar!" """)

She said "you're a liar!"

In [3]:
name = "Aliza Javed"
age = 21
print(f"My name is {name} and my age is {age}.")

My name is Aliza Javed and my age is 21.

In [5]:
x = 1.21212
print(f"the value of x is {x:.2f}")

the value of x is 1.21

In [6]:
print("my name is Aliza Javed \ni am a python developer \ni am Genius")

my name is Aliza Javed
 i am a python developer
 i am Genius

In [7]:
print("""
my name is Aliza Javed 
 i am a python developer 
 i am Genius
 """)

my name is Aliza Javed
 i am a python developer
 i am Genius

In [11]:
msg = """I have an elephant \t that eats sugarcane"""

In [12]:
msg = """I have an elephant \t that eats sugarcane"""

#parwaz

num_1 = 12
num_2 = 3
print(num_1)

In [14]:
apples = '20'
type(apples)

str

In [16]:
c = int(apples)+1
print(c)

21

In [17]:
x = True
y = False
x and y

False

In [18]:
x or y

True

In [21]:
not x

False

In [22]:
3 >= 2

True

In [23]:
3 == 3

True

In [24]:
3 != 4

True

In [25]:
from datetime import datetime
current_datetime = datetime.now()

In [26]:
current_datetime

datetime.datetime(2023, 10, 23, 16, 31, 34, 457160)

In [27]:
print(current_datetime)

2023-10-23 16:31:34.457160

In [32]:
formatted_date = current_datetime.strftime("%d-%m-%Y")

In [33]:
print(formatted_date)

23-10-2023

In [36]:
date1 = datetime(2023,10,23)
date2 = datetime(2002,5,20)
diff = date1 - date2
print(diff)

7826 days, 0:00:00

In [ ]:
from datetime import datetime, timedelta

In [43]:
from datetime import datetime, timedelta
current_date = datetime.now()
difference  =timedelta(weeks=3) 
new_date =current_date + difference
print(new_date)

2023-11-13 16:44:11.687033

In [44]:
from datetime import datetime, timedelta
current_date = datetime.now()
difference  = timedelta(days=3) 
new_date = current_date + difference
print(new_date)

2023-10-26 16:44:21.736511

In [45]:
age = input("Enter age : ")
print(age)

Enter age : 21
21

In [46]:
3 +++ 2

5

In [47]:
3 /// 2

SyntaxError: invalid syntax (2185613305.py, line 1)

In [48]:
1x = 12

SyntaxError: invalid decimal literal (978631150.py, line 1)

In [49]:
9/a

NameError: name 'a' is not defined

In [50]:
2+"aliza"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
a = "a12"
c  = int(a)
print(c)

ValueError: invalid literal for int() with base 10: 'a12'

In [52]:
10/0

ZeroDivisionError: division by zero

In [53]:
try:

SyntaxError: incomplete input (3760671423.py, line 1)

In [55]:
try:
    age = int(input("enter your age: "))
except ValueError as e:
    print(e)
else:
    print(age)

enter your age: aad
invalid literal for int() with base 10: 'aad'

In [56]:
try:
    age = int(input("enter your age: "))
except Exception as e:
    print(e)
else:
    print(age)

enter your age: 12a
invalid literal for int() with base 10: '12a'

In [2]:
print("First lecture")

lecture

In [ ]:
Print("Good day Parwaz")